# Values for db
POSTGRES_PASSWORD=supersecret
POSTGRES_USER=sa
POSTGRES_DB=restaurantDB

# docker ports
POSTGRES_PORT=5432
BACKEND_PORT=8080
FRONTEND_PORT=3000

# frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NODE_ENV=production

# ddl creation.... update is the most convenient
DB_DDL=update
